# Ignore paths that contain user-generated content.
web/files
web/sites/*/files
web/sites/*/files-private
web/sites/*/private
acquia-files
private/files

# ignore settings
# web/sites/*/settings.php
web/sites/*/settings.local.php
web/sites/*/settings.ddev.php
.lando.local.yml

# ignore development services
web/sites/*/development.services.yml

# composer added vendor dependencies
vendor/.git
bin/*

# Sass
.sass-cache
.bundle
*.css.map

# OS X
.DS_Store
.Spotlight-V100
.Trashes

#Exports
*.gz
*.sql
*.zip

# Drupal console
console

# Automated build assets
web/libraries
web/themes/custom/*/css/*
web/core
web/modules/contrib
web/profiles/contrib
web/themes/contrib
web/robots.txt
web/.htaccess
vendor/
dist/
web/sites/simpletest

# NPM
*.log
node_modules/
mix-manifest.json

# ESLint
eslint-reports/

# IDE
.idea/
.vscode
/.gitattributes
